@import "utilities";
@import "config";


%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(.80);
  }
}



.btn-primary {
  @extend %btn;
  @include set-bg(lighten($primary-color, 10%));
}

.btn-secondary {
  @extend %btn;
  @include set-bg($secondary-color);
}

/* In here, we are utilizing scss codes that uses Sass featuers such as imports, placeholders (%btn), extending, and mixins (set-bg).
These scss codes defines a placeholder selector for common button styles, extends that placeholder for specific button classes (btn-primary and btn-secondary), and applies additional styles to each of them using mixins and nested selectors.
*/