  // SCSS Function that will make sure text is light on dark backgrounds, and dark on light backgrounds.
  @function text-color-picker($color) {
    @if(lightness($color) > 70) {
      @return black;
    } @else {
      @return white;
    }
  }
  
  // SCSS Mixin
  @mixin set-bg($color) {
    background-color: $color;
    color: text-color-picker($color)
  }
  
  // Standard CSS
  .box {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
  }
  
  /* The function codes at the very top is a Sass function named text-color-pcker that takes one parameter: color. Inside the function, it checks the lightness of the color
  using the 'lightness' function. This function is designed to dynamiclly determine whether black or white text should be used based on the background color provided.
  
  The second part of the codes is a Sass mixin named set-bg that takes one parameter: color. It sets the background color of the element to the color passed as an argument.

  The thrid part of the codes is a regular CSS rule for a classs named .box.
  */