@import "btnConfig";
@import "utilities";
@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero {
  @include set-bg($primary-color);
  height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a {
      color: text-color-picker($primary-color);
    }

    a:hover {
      color: $secondary-color;
    }
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}

// Margin & padding classes
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

/* These SCSS codes are a combination of importing the other SCSS files, defining global stylesm defining styles for specific elements and classes, and creating margin and padding utility
classes using an @each loop. The codes in this file sets global styles, define specific styles for elements and classesm and creates utility classes for margin and padding.

In regards to the hero class, it defines styles for an element with the class 'hero'. It uses the set-bg mixin that is defined in _utilities.scss to set the background color to primary color
and sets the height to 600px. There's nested styling for nav element, including styles for ul, li, and the a elements within the nac. Also there are styling for .hero-content, which includes centering content 
vertically and horizontally and specific styles for img and h1 elements inside .hero-content.
*/